body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: hidden;
  overflow-x: auto;
  background-color: #ececec !important;

}


/* 整个滚动条 */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* 滚动条有滑块的轨道部分 */
::-webkit-scrollbar-track-piece {
  background-color: #fff;
  border-radius: 4px;
}

/* 滚动条滑块(竖向:vertical 横向:horizontal) */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  background-color: #ccc;
  border-radius: 4px;
}

/* 滚动条滑块hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #ccc;
}

/* 同时有垂直和水平滚动条时交汇的部分 */
::-webkit-scrollbar-corner {
  display: block;    /* 修复交汇时出现的白块 */
}